langgraph
langchain-community
langchain-core
langchain-openai
langchain-anthropic
langchain
fastapi
uvicorn
pytest
langgraph-sdk
llama-index
uptrain
langgraph-checkpoint-sqlite
langsmith
portkey-ai
pytest-asyncio
pytest-html
httpx
python-dotenv
pydantic
pyyaml
redis
#posthog-js
# langchainhub==0.1.15
# langchain-openai==0.1.3
# langchain==0.1.16
# langchain-core==0.1.42
# pygraphviz==1.12

