@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-position:top;
  width: 100vw;
  height: 100vh;
}